html{overflow: auto;}
 
html, body, div, iframe {
	margin: 0;
	padding: 0;
	height: 100%;
	border: none;
	color:#fff;
}
body {
	padding-top:40px; position:relative;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	font-size:12px}
a {text-decoration:none; color:#cacaca;  }
a:hover {color:#c0816a}	
iframe 
{
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}
.framing {height:auto; background:#000; position:absolute; top:0; width:100%; transition:height .8s;}
#no-bar:target {padding:0}
#no-bar:target .framing {height:0; overflow:hidden} 
#close {position:absolute; right:.75rem; top:.75rem;font-size:1.5rem;
	display:block; width:40px; height:40px;}
#close:hover {background-position:center top}	
.article {margin: 0 20px;}