/* Theme customization starts here. */

/* DO NOT use "@import". Just type some css that you need to add or override. */

/* Good luck with your project! */

.media__img.avatar {
	margin-left:0;
}
.media__img > img {
	margin-right:0;
}

.yaga_widget_pehaa_authors img {
	border:1px solid #eee;
	padding:5px;
	border-radius:0;
}

.comment-form .form-submit {
	text-align: right;
}

div.wpcf7 img.ajax-loader {
	display:block;
}

pre[class*="language-"] {
	margin-bottom:1.5rem!important;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #f6f6f6!important;
}

@media screen and (min-width: 1024px) {
	.post-navigation--sticky .prev-link, .post-navigation--sticky .next-link {
    	top: 272px;
    	margin-top: 0;
	}
}
